{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="panel">
        <div class="login-box">
            <img src="{{ asset('png/avatar_login.png') }}" class="avatar" />
            <div class="title">Login Form</div>
            <hr>
            <form action="" method="post" class="panel_form_pacjenci">
                <div class="forms">
                    <label>E-mail</label>
                    <input type="email" name="username" class="form" id="username" />
                    <span id="usernameInfo"></span>
                </div>
                <div class="forms">
                    <label>Password</label>
                    <input type="password" name="password" class="form" id="password" />
                    <span id="passwordInfo"></span>
                </div>
                <div class="btn-form">
                    <input type="submit" name="login_pacjent" class="btn-success" value="Log in!" id="login_pacjent" />
                    <input type="button" name="pracownik_panel" class="btn-primary" id="pracownik_panel" value="Go to Employee form"/>
                    <li><a href="">Back password</a></li>
                </div>
            </form>
            <form action="" method="post" class="panel_form_pracownicy">
                <div class="forms">
                    <label>E-mail</label>
                    <input type="email" name="username" class="form" id="username" />
                    <span id="usernameInfo"></span>
                </div>
                <div class="forms">
                    <label>Password</label>
                    <input type="password" name="password" class="form" id="password" />
                    <span id="passwordInfo"></span>
                </div>
                <div class="btn-form">
                    <input type="submit" name="login_pracownik" class="btn-success" value="Log in!" id="login_pracownik" />
                    <input type="button" name="pacjent_panel" class="btn-primary" id="pacjent_panel" value="Go to patient form"/>
                    <li><a href="">Back password</a></li>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
