{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/registration.css') }}" />
{% endblock %}

{% block body %}
<div class="panel">
    <div class="login-box">
        <img src="{{ asset('png/avatar_login.png') }}" class="avatar" />
        <div class="title">Login Form</div>
        <hr>
        <form action="" method="post" class="">
            <div class="plansza1">
                <div class="forms">
                    <label>Imie:</label>
                    <input type="text" name="name" class="form" id="name" />
                    <span id="nameInfo"></span>
                </div>
                <div class="forms">
                    <label>Nazwisko</label>
                    <input type="text" name="surname" class="form" id="surname" />
                    <span id="surnameInfo"></span>
                </div>
                <div class="forms">
                    <label>Adres zamieszkania</label>
                    <input type="text" name="address" class="form" id="address" />
                    <span id="addressInfo"></span>
                </div>
                <div class="btn-form">
                    <input type="button" name="first_plansza" class="btn-success" value="Idz dalej" id="first_plansza" />
                </div>
            </div>
            <div class="plansza2">
                <div class="forms">
                    <label>Pesel:</label>
                    <input type="text" name="pesel" class="form" id="pesel" />
                    <span id="peselInfo"></span>
                </div>
                <div class="forms">
                    <label>Numer dowodu:</label>
                    <input type="text" name="identity_card_number" class="form" id="identity_card_number" />
                    <span id="identity_card_numberInfo"></span>
                </div>
                <div class="forms">
                    <label>Numer telefonu:</label>
                    <input type="tel" name="telephon_number" class="form" id="telephon_number" />
                    <span id="telephon_numberInfo"></span>
                </div>
                <div class="btn-form">
                    <input type="button" name="second_plansza" class="btn-success" value="Idz dalej" id="second_plansza" />
                    <input type="button" name="first_plansza_back" class="btn-success" value="Wróć" id="first_plansza_back" />
                </div>
            </div>
            <div class="plansza3">
                <div class="forms">
                    <label>Email:</label>
                    <input type="email" name="username" class="form" id="username" />
                    <span id="peselInfo"></span>
                </div>
                <div class="forms">
                    <label>Hasło:</label>
                    <input type="password" name="password" class="form" id="password" />
                    <span id="passwordInfo"></span>
                </div>
                <div class="forms">
                    <label>Repeat password:</label>
                    <input type="password" name="repeat_password" class="form" id="repeat_password" />
                    <span id="repeat_passwordInfo"></span>
                </div>
                <div class="btn-form">
                    <input type="submit" name="register_pacjent" class="btn-success" value="Zarejestruj się" id="register_pacjent" />
                    <input type="button" name="second_plansza_back" class="btn-success" value="Wróć" id="second_plansza_back" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
